@import "basic/fonts";

:root {
    font-size: 20px;
}

@mixin flexBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin flexStart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
@mixin flexEnd {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin svgAuto {
    display: block;
    max-width: 100%;
    height: auto;
}
@mixin beforeBlack {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

html, body {
    position: relative;
    background: var(--main-color-white);
    color: var(--main-color-black);
    counter-reset: number;
    //=====================
    overflow-x: hidden;
}

body {
    overflow: hidden;
}

ul,
li {
    margin: 0;
    padding: 0;
    display: block;
}
a {
    -webkit-transition: .3s all;
    transition: .3s all;
    outline: none;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
input,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0!important;
    outline-color: transparent!important;
    outline-width: 0!important;
    outline-style: none!important;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

address {
    font-style: normal;
}
@import "blocks/header";
.overflow-hidden {
    overflow: hidden;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--main-color-white);
    z-index: 9999;
    @include flexCenter();
    &__logo {
        position: relative;
        width: 100%;
        max-width: 15rem;
    }
}

.wrapper {
    padding-top: 4rem;
    min-height: 100vh;
    .section {
        &__main {
            position: relative;
            margin-bottom: 6rem;
            .main {
                &__slider {
                    &-frame {
                        position: relative;
                        height: 100%;
                        overflow: hidden;
                        padding-top: 32.45rem;
                        padding-bottom: 3rem;
                    }
                    &-photo {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                    &-pagination {
                        position: absolute;
                        z-index: 2;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 3.35rem;
                        .swiper {
                            &-pagination {
                                &-bullet {
                                    @include flexCenter;
                                    position: relative;
                                    transition: .3s all;
                                    width: .5rem;
                                    height: .5rem;
                                    margin: .75rem 0;
                                    border-radius: 50%;
                                    background-color: var(--main-color-grey-2);
                                    opacity: 1;
                                    &:before {
                                        position: absolute;
                                        content: '';
                                        width: 1.2rem;
                                        height: 1.2rem;
                                        top: 50%;
                                        left: 50%;
                                        border-radius: 50%;
                                        transform: translate(-50%, -50%) scale(0);
                                        border: 1px solid var(--main-color-one);
                                        transition: .3s all;
                                    }
                                    &-active {
                                        background-color: var(--main-color-one);
                                        &:before {
                                            transform: translate(-50%, -50%) scale(1);
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &-caption {
                        @include flexBetween();
                        align-items: flex-start;
                    }
                    &-title {
                        width: 45%;
                    }
                    &-description {
                        width: 45%;
                    }
                }
                &__bg  {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    transition: .8s all;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                &__title {
                    color: var(--main-color-white);
                    text-transform: uppercase;
                    font-size: 2.5rem;
                }
                &__list {
                    @include flexStart();
                    flex-wrap: wrap;
                    margin-bottom: 2rem;
                    &-box {
                        margin-right: 2.7rem;
                        &:nth-child(3) {
                            margin-right: 0;
                        }
                        span {
                            color: #ABABAB;
                            font-size: .7rem;
                            display: block;
                            margin-bottom: .65rem;
                        }
                        p {
                            font-size: 1rem;
                            color: var(--main-color-white);
                        }
                    }
                }
                &__content {
                    @include flexEnd();
                    gap: 1.5rem;
                    a {
                        padding: 1rem 2rem;
                        padding-top: .9rem;
                        border-radius: 5rem;
                        font-size: 1rem;
                        transition: .3s all;
                        &:first-child {
                            color: var(--main-color-white);
                            background-color: var(--main-color-one);
                            &:hover {
                                background-color: var(--main-color-white);
                                color: var(--main-color-black);
                            }
                        }
                        &:last-child {
                            color: var(--main-color-black);
                            background-color: var(--main-color-white);
                            &:hover {
                                background-color: var(--main-color-one);
                                color: var(--main-color-white);
                            }
                        }
                    }
                }
            }
        }
        &__feedback {
            .feedback {
                @include flexBetween();
                background-color: var(--main-color-one);
                background-image: url(../img/bg/feedback-2.png);
                -webkit-background-size: 100%;
                background-size: 50%;
                background-repeat: no-repeat;
                background-position: center right;
                border-radius: 2.5rem;
                margin-bottom: 6rem;
                &__content {
                    padding: 3.5rem;
                    width: 41%;
                }
                &__title {
                    color: var(--main-color-white);
                    font-size: 2.4rem;
                    line-height: 3rem;
                    margin-bottom: 2rem;
                    text-align: left;
                }
                &__form {
                    input {
                        display: block;
                        width: 100%;
                        margin-bottom: 1rem;
                        background-color: var(--main-color-two);
                        border: 2px solid transparent;
                        transition: .3s all;
                        font-size: .9rem;
                        padding: .85rem 1.3rem;
                        border-radius: .5rem;
                        color: var(--main-color-white);
                        &:last-child {
                            margin-bottom: 1.5rem;
                        }
                        &:focus,
                        &:hover {
                            border-color: var(--main-color-white);
                        }
                        &::placeholder {
                            color: var(--main-color-grey);
                        }
                    }
                    button {
                        display: block;
                        text-align: center;
                        width: 100%;
                        color: var(--main-color-one);
                        background-color: var(--main-color-white);
                        font-size: .9rem;
                        padding: .85rem;
                        border-radius: 2.5rem;
                        border: none;
                    }
                }
                &__bg {
                    padding-right: 1rem;
                    img {
                        display: block;
                        height: 27.5rem;
                        width: auto;
                        object-fit: contain;
                    }
                }
            }
        }
        &__contact {
            margin-bottom: 3rem;
            .contact {
                @include flexBetween();
                align-items: unset;
                &__content {
                    width: 38%;
                }
                &__subtitle {
                    color: #A3A3A3;
                    font-size: .75rem;
                    display: block;
                    margin-bottom: .5rem;
                }
                &__title {
                    color: var(--main-color-one);
                    font-size: 3.2rem;
                    line-height: 3rem;
                    margin-bottom: 3rem;
                }
                &__txt {
                    font-size: .75rem;
                    line-height: 1.25rem;
                    color: var(--main-color-black);
                    margin-bottom: 2rem;
                }
                &__feedback {
                    @include flexCenter();
                    padding: .75rem 1.5rem;
                    padding-right: 1.75rem;
                    width: fit-content;
                    background-color: var(--main-color-one);
                    color: var(--main-color-white);
                    border-radius: 2.5rem;
                    svg {
                        display: block;
                        max-width: 100%;
                        height: auto;
                        margin-right: .25rem;
                    }
                    span {
                        display: inline-block;
                        font-size: .75rem;
                    }
                }
                &__container {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
                &__box {
                    @include flexStart();
                    margin-bottom: 1.5rem;
                    .box {
                        span {
                            display: block;
                            color: #A3A3A3;
                            font-size: .75rem;
                            margin-bottom: .25rem;
                        }
                        &__ico {
                            position: relative;
                            background-color: #F5F5F5;
                            width: 2.5rem;
                            height: 2.5rem;
                            border-radius: 50%;
                            @include flexCenter();
                            margin-right: .75rem;
                        }
                        &__content {
                            font-size: .75rem;
                            line-height: 100%;
                            color: var(--main-color-black);
                        }
                    }
                }
                .map {
                    position: relative;
                    width: 50%;
                    border-radius: 2.5rem;
                }
            }
        }
    }
}

@keyframes pulse2 {
    0% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 1;
    }
}

@import "blocks/footer";

@import "blocks/popups";

@import "basic/general";
@import "basic/media";
