*, ::after, ::before {
  box-sizing: border-box!important;
}
.general {
    &__container {
        padding: 0 17.5rem;
    }
    &__top {
        .top {
            @include flexStart();
            margin-bottom: 1.5rem;
            p {
                text-align: right;
                min-inline-size: 10em;
                writing-mode: vertical-rl;
                transform: scale(-1);
                color: var(--main-color-grey-3);
                font-size: .75rem;
                display: block;
                margin-top: 1rem;
            }
            h2 {
                color: var(--main-color-white);
                font-size: 3rem;
                margin-left: 1rem;
            }
        }
        .description {
            color: var(--main-color-white);
            font-size: .7rem;
            line-height: 1.35rem;
            margin-left: 2.1rem;
        }
    }
    &__config {
        @include flexEnd();
        .config {
            &__number {
                width: auto;
                color: var(--main-color-white);
                font-family: "GolosText-M";
                margin-right: 1rem;
                span {
                    &:first-child {
                        font-size: 1.1rem;
                    }
                    &:last-child {
                        font-size: .6rem;
                    }
                }
            }
            &__lines {
                position: relative;
                background-color: #B69A8B;
                width: 10.45rem;
                height: 2px;
                span {
                    position: absolute;
                    width: 0;
                    background-color: var(--main-color-white);
                    height: 100%;
                    top: 0;
                    left: 0;
                    &.animate {
                        transition: width linear;
                        width: 100%;
                        transition-duration: 2s;
                    }
                }
            }
        }
    }
    &__slider {
        &-buttons {
            @include flexEnd();
            position: relative;
            z-index: 2;
        }
        &-btn {
            @include flexCenter();
            position: relative;
            margin-left: 1rem;
            border: none;
            transition: .3s all;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            svg {
                display: block;
                width: 100%;
                max-width: 1.2rem;
                height: auto;
                path {
                    transition: .3s all;
                }
            }
            &:first-child {
                background-color: var(--main-color-three);
                svg {
                    path {
                        stroke: var(--main-color-white);
                    }
                }
                &:hover {
                    background-color: var(--main-color-white);
                    svg {
                        path {
                            stroke: var(--main-color-one);
                        }
                    }
                }
            }
            &:last-child {
                background-color: var(--main-color-white);
                svg {
                    path {
                        stroke: var(--main-color-one);
                    }
                }
                &:hover {
                    background-color: var(--main-color-three);
                    svg {
                        path {
                            stroke: var(--main-color-white);
                        }
                    }
                }
            }
        }
        &-photo {
            position: relative;
            border-radius: 2.5rem;
            overflow: hidden;
            img {
                display: block;
                width: 100%;
                height: 25rem;
                transition: .3s all;
                border-radius: 2.5rem;
                cursor: pointer;
                transform: scale(1.05);
            }
            &:hover {
                img {
                    transform: scale(1);
                }
            }
        }
    }
    &__title {
        color: var(--main-color-one);
        font-size: 3.2rem;
        line-height: 3rem;
        margin-bottom: 3rem;
    }
    &__subtitle {
        color: var(--main-color-grey-3);
        font-size: .75rem;
        display: block;
        margin-bottom: .5rem;
    }
    &-R {
        font-family: "GolosText-R";
    }
    &-M {
        font-family: "GolosText-M";
    }
    &-B {
        font-family: "GolosText-B";
    }
    &-Bl {
        font-family: "GolosText-Bl";
    }
    &-Db {
        font-family: "GolosText-DB";
    }
}
@media (max-width: 900.98px) {
    .general {
        &__container {
            padding: 0 1.5rem;
        }
        &__top {
            .top {
                flex-direction: column;
                align-items: flex-start;
                p {
                    text-align: left;
                    writing-mode: unset;
                    transform: unset;
                    font-size: 1.5rem;
                }
                h2 {
                    font-size: 4rem;
                    margin-left: 0;
                }
            }
            .description {
                margin-left: 0;
                font-size: 1.4rem;
                line-height: 150%;
            }
        }
        &__config {
            .config {
                margin-right: 2rem;
                &__number {
                    span {
                        &:first-child {
                            font-size: 2.2rem;
                        }
                        &:last-child {
                            font-size: 1.2rem;
                        }
                    }
                }
                &__lines {
                    width: 18.4rem;
                }
            }
        }
        &__slider {
            &-photo {
                border-radius: 3rem;
                img {
                    height: 30rem;
                }
            }
            &-btn {
                width: 4rem;
                height: 4rem;
                margin-left: 1.5rem;
                svg {
                    max-width: 2.4rem;
                }
            }
        }
        &__subtitle {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
        &__title {
            font-size: 4rem;
            line-height: 100%;
            margin-bottom: 2rem;
        }
    }
}
