//==========Media===========
@media (min-width: 2000.98px) {
  :root {
    font-size: 24px;
  }
}

@media (min-width: 1930.98px) {
    :root {
        font-size: 20px;
    }
}

@media (max-width: 1800.98px) {
  :root {
    font-size: 19px;
  }
}
@media (max-width: 1700.98px) {
  :root {
    font-size: 17px;
  }
}
@media (max-width: 1600.98px) {
  :root {
    font-size: 16px;
  }
}
@media (max-width: 1500.98px) {
  :root {
    font-size: 14px;
  }
}
@media (max-width: 1400.98px) {
  :root {
    font-size: 13px;
  }
}
@media (max-width: 1200.98px) {
    :root {
        font-size: 13px;
    }
    .wrapper {
        .section {
            &__house {
                .house {
                    &__main {
                        img {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 2;
                            height: 100%;
                            width: auto;
                        }
                        svg {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            z-index: 3;
                            width: auto;
                            transition: .3s all;
                            transform: translate(-50%, -50%);
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1100.98px) {
  :root {
    font-size: 10px;
  }
}
@media (max-width: 1000.98px) {
  :root {
    font-size: 10px;
  }
}
@media (min-width: 901px) {
    .d__none {
        display: none;
    }
}
@media (max-width: 900.98px) {
  :root {
    font-size: 11px;
  }
  body {
    &.on {
      overflow: hidden;
    }
  }
    .preloader {
        &__logo {
            max-width: 25rem;
        }
    }
    .wrapper {
        padding-top: 7rem;
        .section {
            &__main {
                .main {
                    &__slider {
                        &-frame {
                            padding-top: 9rem;
                            padding-bottom: 2.8rem;
                        }
                        &-caption {
                            flex-direction: column;
                        }
                        &-title {
                            width: 100%;
                            margin-bottom: 4rem;
                        }
                        &-description {
                            width: 100%;
                        }
                    }
                    &__title {
                        font-size: 3.2rem;
                    }
                    &__list {
                        &-box {
                            margin-bottom: 3rem;
                            span {
                                font-size: 1.4rem;
                            }
                            p {
                                font-size: 2rem;
                            }
                        }
                    }
                    &__content {
                        flex-direction: column;
                        gap: 2rem;
                        a {
                            width: 100%;
                            text-align: center;
                            font-size: 2rem;
                            padding: 1.8rem;
                            border-radius: 10rem;
                        }
                    }
                }
            }
            &__about {
                .about {
                    &__slider {
                        display: none;
                    }
                    &__subtitle {
                        font-size: 1.7rem;
                        margin-bottom: 3rem;
                    }
                    &__txt  {
                        font-size: 1.5rem;
                        line-height: 2.7rem;
                        margin-bottom: 3rem;
                    }
                    &__download {
                        &:before {
                            width: 5.5rem;
                        }
                        .ico {
                            width: 5.5rem;
                            height: 5.5rem;
                            margin-right: 2rem;
                            svg {
                                max-width: 2.4rem;
                            }
                        }
                        .box {
                            &__title {
                                font-size: 1.7rem;
                            }
                            &__info {
                                font-size: 1.3rem;
                            }
                        }
                    }
                    &__location {
                        flex-direction: column;
                        padding-bottom: 4rem;
                        margin-bottom: 4rem;
                        .location {
                            &__info {
                                margin-bottom: 4rem;
                                .icon {
                                    width: 5.5rem;
                                    height: 5.5rem;
                                    margin-right: 2rem;
                                    svg {
                                        max-width: 4rem;
                                    }
                                }
                                h4 {
                                    width: 78%;
                                    font-size: 1.5rem;
                                    span {
                                        font-size: 1.4rem;
                                        margin-bottom: 1rem;
                                    }
                                }
                            }
                            &__btn {
                                width: 100%;
                                padding: 1.3rem;
                                border-radius: 5rem;
                                svg {
                                    max-width: 2.4rem;
                                    margin-right: 1rem;
                                }
                                span {
                                    font-size: 1.6rem;
                                }
                            }
                        }
                    }
                    &__list {
                        flex-direction: column;
                        padding-bottom: 4rem;
                        margin-bottom: 4rem;
                        li {
                            width: 100%;
                            margin-bottom: 3rem;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            .ico {
                                width: 5.7rem;
                                margin-right: 2rem;
                            }
                            .content {
                                span {
                                    font-size: 1.4rem;
                                    margin-bottom: .4rem;
                                }
                                p {
                                    font-size: 1.8rem;
                                }
                            }
                        }
                    }
                    &__developer {
                        flex-direction: column;
                        padding-bottom: 4rem;
                        margin-bottom: 4rem;
                        .developer {
                            width: 100%;
                            h2 {
                                font-size: 2.2rem;
                            }
                            &__txt {
                                font-size: 1.6rem;
                                margin-bottom: 4rem;
                                line-height: 150%;
                            }
                            &__list {
                                width: 100%;
                            }
                            &__box {
                                width: 100%;
                                margin-bottom: 4rem;
                                &:last-child {
                                    margin-bottom: 0;
                                }
                                h4 {
                                    font-size: 3.6rem;
                                    margin-bottom: 1.5rem;
                                }
                                p {
                                    font-size: 1.4rem;
                                }
                            }
                        }
                    }
                }
            }
            &__location {
                .location {
                    &__buttons {
                        margin-bottom: 3rem;
                        a {
                            padding: .9rem 2rem;
                            border-radius: 3rem;
                            font-size: 1.4rem;
                            margin-right: 1.5rem;
                        }
                    }
                }
                .genplan {
                    &__main {
                        height: 30rem;
                        img {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 2;
                            height: 100%;
                            width: auto;
                        }
                        svg {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            z-index: 3;
                            width: auto;
                            transition: .3s all;
                            transform: translate(-50%, -50%);
                            height: 100%;
                        }
                    }
                }
            }
            &__architect {
                margin-bottom: 7.6rem;
                .architect {
                    flex-direction: column;
                    &__column {
                        width: 100%;
                        margin-bottom: 3rem;
                        .column {
                            writing-mode: unset;
                            transform: none;
                            text-align: left;
                        }
                    }
                    &__content {
                        width: 100%;
                    }
                    &__img {
                        position: relative;
                        height: 36rem;
                        border-radius: 3rem;
                        margin-bottom: 3rem;
                    }
                    &__box {
                        position: relative;
                        left: 0;
                        top: 0;
                        width: 100%;
                        max-width: 100%;
                        border-radius: 1rem 3rem 3rem 1rem;
                        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
                        margin-bottom: 1.5rem;
                        padding: 1.3rem 1.5rem;
                        padding-left: 2rem;
                    }
                    &__btn {
                        p {
                            font-size: 1.4rem;
                        }
                        svg {
                            max-width: 2.4rem;
                        }
                    }
                    &__info {
                        font-size: 1.2rem;
                    }
                }
            }
            &__infrstr {
                margin-top: 0;
                padding-top: 2.4rem;
                padding-bottom: 56.6rem;
                .infrstr {
                    flex-direction: column-reverse;
                    &__slider {
                        width: 100%;
                        border-radius: 3rem;
                        &-photo {
                            img {
                                height: 30rem;
                            }
                        }
                    }
                    &__content {
                        position: relative;
                        .general {
                            &__config {
                                position: absolute;
                                margin-top: 0;
                                left: 0;
                                width: 100%;
                                bottom: -40rem;
                            }
                        }
                    }
                }
            }
            &__yard {
                margin-top: -45rem;
                .general {
                    &__top {
                        .description {
                            display: none;
                        }
                    }
                }
                .yard {
                    &__buttons {
                        position: absolute;
                        @include flexEnd();
                        bottom: 2rem;
                        right: 3.5rem;
                        button {
                            position: relative;
                            top: unset;
                            transform: unset;
                            left: unset;
                            right: unset;
                        }
                    }
                }
            }
            &__hall {
                .hall {
                    position: relative;
                    flex-direction: column;
                    &__description {
                        margin-bottom: 2rem;
                        font-size: 1.6rem;
                        line-height: 150%;
                    }
                    &__content {
                        z-index: 2;
                        .config__number {
                            color: var(--main-color-white);
                        }
                    }
                    &__slider {
                        max-width: 100%;
                        &-photo {
                            img {
                                height: 30rem;
                            }
                        }
                    }
                    .general__config {
                        position: absolute;
                        bottom: -30rem;
                        z-index: 2;
                        width: 100%;
                        left: 50%;
                        transform: translateX(-50%);
                        @include flexCenter();
                    }
                }
            }
            &__commercial {
                .commercial {
                    max-width: 100%;
                    position: relative;
                    &__description {
                        color: var(--main-color-black);
                        font-size: 1.6rem;
                    }
                    &__container {
                        position: relative;
                    }
                    &__buttons {
                        position: absolute;
                        @include flexEnd();
                        right: 3.5rem;
                        bottom: 2rem;
                        button {
                            position: relative;
                            right: unset;
                            top: unset;
                            left: unset;
                            transform: unset;
                        }
                    }
                }
            }
            &__parking {
                padding-bottom: 23.2rem;
                .parking {
                    flex-direction: column-reverse;
                    &__content {
                        .general {
                            &__config {
                                position: absolute;
                                margin-top: 0;
                                width: 100%;
                                left: 0;
                                @include flexCenter();
                                bottom: -30rem;
                                z-index: 3;
                            }
                            &__top {
                                .description {
                                    position: absolute;
                                    left: 0;
                                    width: 100%;
                                    padding: 0 1.5rem;
                                    bottom: -50rem;
                                }
                            }
                        }
                    }
                    &__slider {
                        max-width: 100%;
                        border-radius: 3rem;
                        &-photo {
                            img {
                                height: 30rem;
                            }
                        }
                    }
                }
            }
            &__choice {
                .choice {
                    flex-direction: column;
                    &__content {
                        max-width: 100%;
                    }
                    &__name {
                        font-size: 1.5rem;
                        margin-bottom: 3rem;
                    }
                    &__rooms {
                        margin-bottom: 4rem;
                    }
                    &__buttons {
                        button {
                            width: 5rem;
                            height: 5rem;
                            font-size: 1.5rem;
                            margin-right: 1.5rem;
                        }
                    }
                    &__container {
                        position: relative;
                        max-width: 100%;
                        overflow-x: auto;
                        flex-wrap: nowrap;
                        padding-bottom: 1.5rem;
                    }
                    &__flats {
                        &-box {
                            padding: 1.1rem 2rem;
                            border-radius: .8rem;
                            width: auto;
                            margin-right: 1.5rem;
                            img {
                                display: none;
                            }
                            .square {
                                font-size: 1.5rem;
                                white-space: nowrap;
                                margin-top: 0;
                            }
                        }
                    }
                    &__main {
                        width: 100%;
                        &-bg {
                            padding: 4rem;
                            border-radius: 2rem;
                            margin-bottom: 3rem;
                            img {
                                height: 31.8rem;
                            }
                        }
                    }
                    &__info {
                        flex-direction: column;
                        .box {
                            @include flexBetween();
                            width: 100%;
                            h3 {
                                font-size: 5rem;
                                margin-right: 2rem;
                            }
                            &__content {
                                p {
                                    font-size: 1.7rem;
                                    margin-bottom: .5rem;
                                }
                                span {
                                    font-size: 1.4rem;
                                }
                            }
                        }
                    }
                    &__submit {
                        padding: 1.6rem;
                        border-radius: 5rem;
                        font-size: 1.5rem;
                        width: 100%;
                        margin-top: 2.8rem;
                    }
                }
            }
            &__feedback {
                .feedback {
                    flex-direction: column;
                    border-radius: 3rem;
                    align-items: flex-end;
                    -webkit-background-size: cover;
                    background-size: cover;
                    &__content {
                        width: 100%;
                        padding: 5rem 3rem;
                        padding-bottom: 4rem;
                    }
                    &__title {
                        font-size: 2.8rem;
                        margin-bottom: 4rem;
                    }
                    &__form {
                        input {
                            font-size: 1.8rem;
                            padding: 1.6rem 2rem;
                            border-radius: 1rem;
                            margin-bottom: 1.5rem;
                            &:last-child {
                                margin-bottom: 3rem;
                            }
                        }
                        button {
                            padding: 1.6rem 3.7rem;
                            border-radius: 5rem;
                            font-size: 1.5rem;
                            width: fit-content;
                            margin-top: 3rem;
                        }
                    }
                    &__bg {
                        padding-right: 2rem;
                        margin-top: -9rem;
                        img {
                            height: 10rem;
                        }
                    }
                }
            }
            &__contact {
                .contact {
                    flex-direction: column;
                    &__content {
                        width: 100%;
                    }
                    &__container {
                        flex-direction: column;
                    }
                    &__box {
                        margin-bottom: 3rem;
                        .box {
                            &__ico {
                                width: 5rem;
                                height: 5rem;
                                margin-right: 1.5rem;
                                svg {

                                }
                            }
                            span {
                                font-size: 1.5rem;
                                margin-bottom: .5rem;
                            }
                            &__content {
                                font-size: 1.5rem;
                            }
                        }
                    }
                    &__txt {
                        font-size: 1.5rem;
                        line-height: 120%;
                        margin-bottom: 3rem;
                    }
                    &__feedback {
                        width: 100%;
                        padding: 1.4rem;
                        border-radius: 5rem;
                        svg {
                            margin-right: .5rem;
                        }
                        span {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
            &__house {
                position: relative;
                overflow-x: auto;
                .house {
                    &__main {
                        width: 100rem;
                        height: 100vh;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                        svg {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    &__back {
                        position: fixed;
                        top: 10rem;
                        left: 1.5rem;
                        padding: 1.3rem 2rem;
                        border-radius: 10rem;
                        svg {
                            max-width: 2.4rem;
                            margin-right: .5rem;
                        }
                        span {
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 500.98px) {
  .desc {
    &-off {
      display: none;
    }
  }
}
@media (max-width: 500.98px) {
  :root {
    font-size: 10px;
  }
}
@media (max-width: 325.98px) {
  :root {
    font-size: 9px;
  }
}

